.MainSidebar {
  background: var(--color-dark-1);
  left: 0;
  top: 0;
  width: 60px;
  height: 100%;
  z-index: 1150;
}

.MainSidebar__Brand {
  background: var(--color-brand-1);
  height: 70px;
}

.MainSidebar__Links {
  gap: 1rem;
}

.MainSidebar__ExpandBtn {
  bottom: 15px;
}
.MainSidebar__ExpandBtn:hover {
  cursor: pointer;
}
