<nav class="MainSidebar position-fixed d-flex flex-column">
  <div
    class="MainSidebar__Brand d-flex justify-content-center align-items-center"
  >
    <img
      src="../../../../assets/img/brand.png"
      width="40px"
      height="30px"
      alt="Brand logo"
    />
  </div>
  <ul class="MainSidebar__Links p-0 d-flex flex-column align-items-center">
    <app-menu-item
      [routerHref]="'page-a'"
      [iconSrc]="'../../../../assets/icon/building-fill.svg'"
    ></app-menu-item>
    <app-menu-item
      [routerHref]="'page-b'"
      [iconSrc]="'../../../../assets/icon/graph-up-arrow.svg'"
    ></app-menu-item>
    <app-menu-item
      [routerHref]="'page-c'"
      [iconSrc]="'../../../../assets/icon/pencil-ruler.svg'"
    ></app-menu-item>
    <app-menu-item
      [routerHref]="'page-d'"
      [iconSrc]="'../../../../assets/icon/admintype.webp'"
    ></app-menu-item>
    <app-menu-item
      [routerHref]="'page-e'"
      [iconSrc]="'../../../../assets/icon/clock-fill.svg'"
    ></app-menu-item>
    <app-menu-item
      [routerHref]="'page-f'"
      [iconSrc]="'../../../../assets/icon/bar-chart-line-fill.svg'"
    ></app-menu-item>
    <app-menu-item
      [routerHref]="'current-page-in-adobe-xd'"
      [iconSrc]="'../../../../assets/icon/tachometer.svg'"
    ></app-menu-item>
  </ul>
  <div
    class="MainSidebar__ExpandBtn position-absolute align-self-center"
    title="Expand sidebar"
  >
    <img
      src="../../../../assets/icon/arrow-right-short.svg"
      width="40px"
      height="30px"
      alt="Expand sidebar"
    />
  </div>
</nav>
