<nav class="MainSidebar">
  <div class="MainSidebar__Brand">
    <img
      src="../../../../assets/img/brand.png"
      width="40px"
      height="30px"
      alt="Brand logo"
    />
  </div>
  <ul class="MainSidebar__Links p-0">
    <li title="page-1">
      <a [routerLink]="'page-a'" routerLinkActive="MainSidebar__Link--active">
        <img
          src="../../../../assets/icon/building-fill.svg"
          alt="Go to A"
          width="21px"
          height="21px"
        />
      </a>
    </li>
    <li title="page-b">
      <a [routerLink]="'page-b'" routerLinkActive="MainSidebar__Link--active"
        ><img
          src="../../../../assets/icon/graph-up-arrow.svg"
          alt="Go to B"
          width="21px"
          height="auto"
      /></a>
    </li>
    <li title="page-c">
      <a [routerLink]="'page-c'" routerLinkActive="MainSidebar__Link--active"
        ><img
          src="../../../../assets/icon/pencil-ruler.svg"
          alt="Go to C"
          width="21px"
          height="auto"
      /></a>
    </li>
    <li title="page-d">
      <a [routerLink]="'page-d'" routerLinkActive="MainSidebar__Link--active"
        ><img
          src="../../../../assets/icon/admintype.webp"
          alt="Go to D"
          width="21px"
          height="auto"
      /></a>
    </li>
    <li title="page-e">
      <a [routerLink]="'page-e'" routerLinkActive="MainSidebar__Link--active"
        ><img
          src="../../../../assets/icon/clock-fill.svg"
          alt="Go to E"
          width="21px"
          height="auto"
      /></a>
    </li>
    <li title="page-f">
      <a [routerLink]="'page-f'" routerLinkActive="MainSidebar__Link--active"
        ><img
          src="../../../../assets/icon/bar-chart-line-fill.svg"
          alt="Go to F"
          width="21px"
          height="auto"
      /></a>
    </li>
    <li title="current-page-in-adobe-xd">
      <a
        [routerLink]="'current-page-in-adobe-xd'"
        routerLinkActive="MainSidebar__Link--active"
        ><img
          src="../../../../assets/icon/tachometer.svg"
          alt="Go to G"
          width="21px"
          height="auto"
      /></a>
    </li>
  </ul>
  <div class="MainSidebar__ExpandBtn" title="Expand sidebar">
    <img
      src="../../../../assets/icon/arrow-right-short.svg"
      width="40px"
      height="30px"
      alt="Expand sidebar"
    />
  </div>
</nav>
