<nav
  aria-label="breadcrumb"
  style="--bs-breadcrumb-divider: '' !important"
  class="NavTopbar__Breadcrumb"
>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#" class="d-flex gap-2 align-items-center"
        >BALANCE COMPANY SCORE
        <img
          src="../../../../../../assets/icon/chevron-right.svg"
          alt="BALANCE COMPANY SCORE"
          width="9px"
          height="9px"
          class=""
      /></a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Strategy Maps</li>
    <li class="breadcrumb-item"><a href="#">KPI</a></li>
  </ol>
</nav>
