.NavTopbar__Breadcrumb {
  font-size: 12px;
}

.NavTopbar__Breadcrumb a {
  text-decoration: none;
  color: var(--color-dark-1) !important;
}

.NavTopbar__Breadcrumb li {
  padding: 2px 10px 5px 5px;
}

.breadcrumb-item.active {
  color: var(--color-dark-3);
  background: var(--color-light-2);
  padding: 2px 20px 5px 20px !important;
}

.NavTopbar__Breadcrumb ol {
  display: flex;
  gap: 0.5rem;
}

@media screen and (min-width: 1400px) {
  .NavTopbar__Breadcrumb {
    font-size: 0.9rem;
  }
}
