.FeatureTechTest {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: content;
  justify-content: space-between;
  gap: 1rem;
  padding-left: 1rem;
}
.FeatureTechTest__ColA {
  width: 100%;
}

.FeatureTechTest__TableWrapper {
  background: var(--color-light-1-c);
  box-shadow: 0px 3px 3px #0000004d;
}

.LoaderContainer {
  height: 200px;
}
