<div class="FeatureTechTest">
  <div class="FeatureTechTest__ColA">
    <div class="d-flex gap-2 py-4">
      <app-add-kpi-btn></app-add-kpi-btn>
      <app-search-bar [hasCaretDown]="false" class="w-50"></app-search-bar>
    </div>
    <div class="FeatureTechTest__TableWrapper">
      <app-section-selectors
        [selectedSetOfData]="selectedSetOfData"
        [selectSetOfData]="selectSetOfData"
        (changeDataSelectedEvent)="changeSelectedSetOfData($event)"
      ></app-section-selectors>
      <div class="d-flex align-content-center justify-content-center">
        <app-spinner *ngIf="isLoading"></app-spinner>
      </div>
      <gridjs-angular
        [config]="gridConfig"
        *ngIf="objectivesData.length || perspectivesData.length"
        [autoWidth]="true"
      ></gridjs-angular>
    </div>
  </div>
  <app-comments-section class="FeatureTechTest__ColB"></app-comments-section>
</div>
